:root{
  --blue: hsl(223, 87%, 63%);
  
  --paleBlue: hsl(223, 100%, 88%);
  --lightRed: hsl(354, 100%, 66%);
  
  --gray: hsl(0, 0%, 59%);
  --veryDarkBlue: hsl(209, 33%, 12%);

  --mainFontSize: 20px;
}

*{
  box-sizing:border-box;
  margin:0;
  padding:0;
  font-family: 'Libre Franklin', sans-serif;
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
  width:88%;
  max-width: 500px;
  margin: 0 auto;
}

h1{
  margin-bottom: 15px;
}

h1 span{
  color: var(--gray);
  font-weight: 300;
}

.logo{
  margin: 50px 0;
}

.subscribe{
  margin-bottom: 30px;
}

form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
  margin-top: 40px;
  position: relative;
}

form input, form button{
  height: 45px;
  border-radius: 40px;
}

form input{
  width: 65%;
  padding: 0 20px;
  outline: none;
  border: 1px solid var(--paleBlue);
  font-size: 15px;
}

.error{
  position: absolute;
  color: var(--lightRed);
  top: 50px;
  width: 65%;
  text-align: left;
  padding-left: 10px;
  font-size: 13px;
  font-weight: 600;
  font-style: italic;
  display: none;
}

form button{
  width: 33%;
  border: none;
  background-color: var(--blue);
  color: white;
  cursor: pointer;
  font-weight: 600;
}

form button:hover{
  background-color: hsl(223, 87%, 68%);
}

.illustration{
  width: 100%;
}

.icons i{
  margin: 90px 10px 30px 10px;
  cursor: pointer;
  transition: transform .3s;
}


.icons i:hover{
  color: var(--blue);
  transform: scale(1.2);
}

.copyright{
  color: var(--gray);
  font-size: 13px;
}

@media screen and (max-width:400px) {
  
  h1{
    text-align: center;
  }

  form{
    flex-direction: column;
    align-items: center;
   
  }

  .error{
    width: 100%;
    text-align: center;
    padding-left: 0;
  }

  form button{
    margin-top: 20px;
  }

  form input, form button{
    width: 100%;
  }
}


.attribution { 
  margin-top:50px;
  font-size: 11px; 
  text-align: center;
}
.attribution a { 
  color: hsl(228, 45%, 44%);
}